// COLORS

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary:    #99E2D0;

$color-grey: #f2f2f2;
$color-btn-howitworks: #f6f6f6;
$color-footer: #353535;


// Fonts
$font-primary: 'Roboto', sans-serif;

// BREAK POINTS
$ipad: 768px;
$ipadpro: 1024px;
$screen: 1366px;
$bigscreen: 1600px;

// Border
$border-radius: 1.5rem;